@model WEBPresentationLayer.Models.Demanda.DemandaDetailsViewModel

@{
    ViewData["Title"] = "Details";

}


<h1>Details</h1>

<div>
    <h4>Detalhes do Demanda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
         <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoCurta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoCurta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoDetalhada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoDetalhada)
        </dd>
    </dl>
</div>
<a class="btn btn-primary btn-xl text-uppercase" asp-area="" asp-controller="Demanda" asp-action="ChangeStatusInProgress" method="post">Deseja aceitar a demanda?</a>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |

    <a asp-action="Index">Back to List</a>
</div>
