@model IEnumerable<WEBPresentationLayer.Models.Chamado.ChamadoSelectViewModel>

@{
    ViewData["Title"] = "Index";

}

<h1>Index</h1>

<p>
    <a class="nav-link " asp-area="" asp-controller="Chamado" asp-action="Create">Chamado</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoCurta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoDetalhada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoCurta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoDetalhada)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID  }) |
                @Html.ActionLink("Details", "Details", new {  id=item.ID}) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.ID})
            </td>
        </tr>
}
    </tbody>
</table>
