@model IEnumerable<WEBPresentationLayer.Models.Cliente.ChamadoSelectViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Chamados</h1>

<p>
    <a class="nav-link " asp-area="" asp-controller="Cliente" asp-action="Create">Cliente</a>
  
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataNascimento)
                </td>
                <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.ID  })
                @Html.ActionLink("Excluir", "Delete", new { id=item.ID  })
                </td>
            </tr>
        }
    </tbody>
</table>
